html,
body {
	height: 380px;
    width: 300px;
    overflow: hidden;
}

.scroll-container {
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scroll-container::-webkit-scrollbar {
    display: none;
}

#breadCrumb {
    margin-top: 7px;
}